@charset "UTF-8";
@import url('/css/userRoot.css');

body{
	background: var(--blanco);
	padding-bottom: 30px;
}

main{
	width: 80%;
	margin: 0 auto;
	background: var(--blanco2);
	padding: 60px;
	border-radius: 4rem;
	box-shadow: 0 7px 25px rgba(0,0,0,0.08);
	text-align: center;
}

h1{
	font-size: 5rem;
	font-weight: 500;
	margin: 20px;
	font-family: var(--font);
}

.subtitle{
	font-size: 1.5rem;
	font-weight: 500;
}

.form{
	display: grid;
	grid-gap: 50px;
	font-size: 2rem;
	margin-top: 3rem;
}

.form div{
	width:100%;
}

.form p{
	margin: 0;
	font-weight: 600;
}

.form label{
	font-weight: 600;
}

.span{
	color: grey;
	font-weight: 500;
	font-size: 1.2rem;
}

form section{
	display: flex;
	justify-content:space-around;
}

.form input, .form textarea, .form select{
	font-size: 1.5rem;
	width: 100%;
	margin: auto;
	border: 2px solid var(--terracota1);
}

.form section input{
	width: 80%;
}

.form textarea{
	height: 15rem;
}


.buttonBox{
	margin: auto;
	font-family: var(--font);
}

.buttonBox button{
	font-size: 2rem;
}

.buttonBox2{
	margin: 4rem 0px 0px 0px;
	padding: 30px;
	display: flex;
	justify-content: space-between;
}

.btnBack{
	width: 15rem;
}


